sudo: false
language: scala
scala:
- 2.11.6
jdk:
- oraclejdk7
- oraclejdk8
cache:
  directories:
    - '$HOME/.ivy2/cache'
notifications:
  email:
    recipients:
    - platform-engineering@digital.hmrc.gov.uk